extends layout

block layout-content
     td #{from}
          |     
          td #{to}  
          |     
          td #{airline}  
          |     
          td #{price}
          |     
          td
            button Book