html
  head
  body
    h1 Results
    table
      tbody
        tr.heading
          th From
          |     
          th To
          |     
          th AirLines
          |     
          th Price
          |     
          |     
          th Book
        |   
        tr
        block layout-content