head
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
table.table.table-condensed.table-striped
  thead
    th AIRLINE
    th ORIGIN
    th DESTINATION
    th DEPARTURE TIME
    th
    tbody#table_data
      form(action='/booked' method='POST')
       each result in resultes
        tr
            td #{result.airline}
            td #{result.origin}
            td #{result.destination}
            td #{result.price}
            td
               button(type='submit' id=1) Book
